<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<appSettings>
		<!--默认的权限管理系统项目Id-->
		<add key="SYSPROJECTID" value="1"/>
		<!--默认的权限管理系统公司Id-->
		<add key="SYSCOMPANYID" value="1"/>
	</appSettings>
	<connectionStrings>
		<add name="ConnString" connectionString="data source=kfdb;user id=usp;password=usp; Connection Lifetime=30; Max Pool Size=10;Min Pool Size=1 ;Pooling=true;" providerName="System.Data.OracleClient"/>
	</connectionStrings>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
				<arg key="configType" value="INLINE"/>
			</factoryAdapter>
		</logging>
	</common>
	<log4net>
		<appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" value="Documents\\Logs\\Err"/>
			<param name="AppendToFile" value="true"/>
			<param name="RollingStyle" value="Date"/>
			<param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;"/>
			<param name="StaticLogFileName" value="false"/>
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}:%n%m%n%n"/>
			</layout>
		</appender>
		<appender name="InfoAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" value="Documents\\Logs\\Info"/>
			<param name="AppendToFile" value="true"/>
			<param name="RollingStyle" value="Date"/>
			<param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;"/>
			<param name="StaticLogFileName" value="false"/>
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}:%n%m%n%n"/>
			</layout>
		</appender>
		<logger name="logerror">
			<level value="ERROR"/>
			<appender-ref ref="ErrorAppender"/>
		</logger>
		<logger name="loginfo">
			<level value="INFO"/>
			<appender-ref ref="InfoAppender"/>
		</logger>
		<root>
			<!--如果只需要看看Sql设置INFO,WARN就够了，如果你要调试可以设置为DEBUG或ALL-->
			<priority value="INFO"/>
			<appender-ref ref="rollingFile"/>
		</root>
	</log4net>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
